body{
  background-color:#dedede;
}
h1{
  text-align: center; 
}

img.logo {
  width: 100px;
  border-radius: 50%;
}

header{

}

.nav-links {
  display: flex;    
  display: flex;
  gap: 2rem;
  list-style: none;
  position: fixed;
  right: 3%;
}

