body{
  background-color:#dedede;
}

header{


}
h1{
  text-align: center; 
}

nav{
 display: flex;
 position: fixed;
 background: #e5e2d9;
 border: 1px;
}

img.logo {
  left: 3%;
  width: 100px;
  border-radius: 50%;
}

.nav-links {
  display: flex;    
  gap: 2rem;
  list-style: none;
  position: fixed;
  right: 3%;
}

